@-moz-document domain("docs.meteor.com") {
	* {
		color:#ffffff !important;
	}

	body, #nav {
		background:#000000;
	}

	a {
		color:#ffffff !important;
	}
	
	code, pre, .note {
		color:#ffffff !important;
		background:#333333 !important;
	}
	
	a:hover {
		background:#333333 !important;
	}
	
	dl.involved dt span, #main h2 span {
		background:#ffffff;
		color:#000000 !important;
	}
	
	.warning p {
		color:red !important;
	}
}
